div{
    padding:5px;}
    
  body{background-color:#d9d2e9;}
  #main {margin:auto; width:830px;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    gap:5px;
    grid-template-areas:
    "a a a a"
    "b b b b"
    "c d d d";
    background-color:#d9d2e9;  font-family: Arial, Helvetica, sans-serif;
    }
    #title { grid-area: a;display: flex;justify-content:center;}
    h1 { margin:auto;color:#351c75;text-transform: uppercase;letter-spacing: 4px;}
    h1:hover{color:#a64d79; transition: all 1s ease-out; letter-spacing:10px}
    
    #logo{grid-area: b; display:inline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:810px; gap:5px;
   background-color:#d5a6bd;text-align:center;
    }
 a:link { text-decoration: none; color: inherit;}
 a:visited {color: inherit;}

  .linktop{ background-color:#a64d79;color:white;text-transform: uppercase;letter-spacing: 4px;width:100%}

  .linktop img{height:20px;float: left;}
 
  .linktop:hover{ background-color:#ead1dc;color:#a64d79;
  transition: all 1s ease-out;}
    img{width:100%;}
    
  #sidebar{grid-area: c;
    width:200px;height:600px;
     background-color:#b4a7d6;color: #674ea7;
    }
    
 

   #posteos{grid-area: d;
   width:585px; background-color:#5f4c83; display: flex;
    flex-direction: column;
    justify-content: space-evenly; gap:10px; color:#ead1dc; padding:10px; border-radius:10px;
    }
    #posteos h2 {color:#d5a6bd;text-transform: uppercase;letter-spacing: 4px; text-align:center;}
    
    
    h3 {color:#351c75;}
  @media screen and (max-width:850px){
    
    #main{ display:inline;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; width:auto;}
      #logo{ display:inline;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; width:auto;}
    
    .linktop{width:auto;text-align:center;}
    .linktop img {height:35px;}
    #sidebar{ display:inline;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; width:auto; height:auto;}
    #sidebar img {width:200px; margin:auto;}
    
      #posteos{ display:inline;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; width:auto;}
  }
  